@media only screen and (max-width: 1280px) {
  #burger {
    display: none;
  }

  #burger + label {
    position: relative;
    height: 1.5rem;
    width: 2rem;
    z-index: 5;
  }

  #burger-container {
    display: block !important;
  }

  #burger-container span {
    position: absolute;
    width: 100%;
    height: 0.25rem;
    left: 0;
    display: block;
    background: var(--secondary);
    transition: 0.5s;
  }

  #burger-container span:nth-child(2),
  #burger-container span:nth-child(3) {
    top: 0.5625rem;
  }

  #burger-container span:nth-child(4) {
    top: 1.2rem;
  }

  label:hover {
    cursor: pointer;
  }

  .burger-checkbox-menu:checked + #burger-container span {
    background-color: var(--white);
  }

  .burger-checkbox-menu:checked + label span {
    opacity: 0;
  }

  .burger-checkbox-menu:checked + label span:nth-child(3) {
    opacity: 1;
    transform: rotate(405deg);
  }

  .burger-checkbox-menu:checked + label span:nth-child(2) {
    opacity: 1;
    transform: rotate(-405deg);
  }

  .burger-checkbox-menu:checked ~ nav {
    display: block;
    background: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    overflow: hidden;
    background-color: var(--black);
    background-repeat: no-repeat;
    background-position: center 80%;
    opacity: 0.95;
    transition: 0.5s;
    transition-delay: 0.5s;
  }

  .burger-checkbox-menu ~ nav {
    display: none;
  }

  .burger-checkbox-menu:checked ~ nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
    padding: 0;
    transition: 0.5s;
    gap: 4rem;
  }

  .burger-checkbox-menu:checked ~ nav ul a {
    color: var(--white);
    font-size: 2rem;
    font-weight: bold;
  }
}
