header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  height: 20%;
  max-width: var(--content-max-width);
  margin: auto;
  align-items: center;
}

header ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

li {
  margin-right: 2rem;
  font-size: 1.625rem;
}

header img {
  position: relative;
  left: -4rem;
}
