#tech-stack {
    background: url("../assets/tech-stack/pc.svg") center no-repeat;
    height: 100%;
    width: 100%;
    margin: auto;
}

.tech-stack__img {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.0625rem solid var(--black);
    border-radius: 0.50rem;
    width: 5rem;
    height: 5rem;
    box-shadow: var(--img-shadow);
    background-color: var(--white);
}

.tech-stack__img:hover {
    cursor: pointer;
    animation: rotation 3s infinite linear;
}

.tech-stack__line{
    display: flex;
}

.tech-stack__grid{
    display: flex;
    justify-content: center;
}

.tech-stack__grid:first-child{
    position: relative;
}

.tech-stack__grid:nth-child(2){
    margin-top: -2rem;
    gap: 3%;
}

.tech-stack__grid:nth-child(3){
    margin-top: -2rem;
    position: relative;
    gap: 40%;
}

.tech-stack__grid:nth-child(4) {
    margin-top: -2rem;
    gap: 42%;
}

.tech-stack__grid:nth-child(5){
    margin-top: -2rem;
    gap: 64.5%;
}

.tech-stack__grid:nth-child(6){
    gap: 70%;
}


.tech-stack__grid:nth-child(7){
    gap: 77%;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}