:root {
  --primary: hsl(265deg 68% 87%);
  --secondary: hsl(183deg 100% 21%);
  --accent: hsl(265, 76%, 73%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(213deg 24% 16%);
  --white: hsl(0deg 0% 100%);
  --img-shadow: 0px 0px 12px -4px hsl(0deg 0% 37%);
  --content-max-width: 1251px;
  --bg-white: hsl(0deg 0% 96%);
  /* TYPOGRAPHY */
  --x-large: 28px;
  --large: 18px;
  --medium: 16px;
  --small: 12px;
}
